
@{
    Layout = null;
}

<form action="/Home">
    <input id="email" type="text" name="email">
    <input id="phone" type="text" name="phone">
    <input id="primarySearchBoxSubmit" type="submit" value="search">
</form>