
@{
    Layout = null;
}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            @Html.Sitecore().Placeholder("two-column-left")
        </div>
        <div class="col-lg-6">
            @Html.Sitecore().Placeholder("two-column-right")
        </div>
    </div>
</div>
