<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>

      <site name="minicrm_website" patch:before="site[@name='website']"
            virtualFolder="/"
            hostName="minicrm"
            physicalFolder="/"
            rootPath="/sitecore/content/MiniCRM"
            startItem="/Home"
            language="en"
            contentLanguage="en"
            database="web"
            loginPage="/sitecore/login"
            domain="sitecore"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="10MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="5MB"
            filteredItemsCacheSize="2MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            dictionaryDomain="MiniCRM"/>

    </sites>
  </sitecore>
</configuration>