
@{
    Layout = null;
}



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                @Html.Sitecore().Placeholder("two-column-left")
            </div>
            <div class="col-lg-4">
                @Html.Sitecore().Placeholder("two-column-right")
            </div>
        </div>
    </div>

