<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Feature.Forms.ServiceAPIDomain" value="sitecore" />
      <setting name="Sitecore.Feature.Forms.ServiceAPIUsername" value="admin" />
      <setting name="Sitecore.Feature.Forms.ServiceAPIPassword" value="b" />

      <setting name="Sitecore.Feature.Forms.AddPersonUrl" value="https://minicrm/sitecore/api/ssc/item/sitecore%2Fcontent%2FMiniCRM%2FSite%20Content%2FPersons?database=master" />

      <setting name="Sitecore.Feature.Forms.PersonTemplateId" value="9D5BEACE-14DB-4EA2-8F1F-A087A8DAC5F0" />
      

    </settings>
    </sitecore>
</configuration>