@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mini CRM</title>
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("main-content")
    </div>
</body>
</html>
